#bootstrap-override .save-container {
  display: flex;
  flex-direction: column;
}
#bootstrap-override .save-button {
}
#bootstrap-override .hover-div {
  background-color: rgba(17, 11, 17, 1);
  padding: 0.25rem;
  border-radius: 0.25rem;
}
#bootstrap-override .hover-div .error {
  color: rgb(255, 255, 255);
  margin-bottom: 0px;
}

#bootstrap-override .hover-div .error.title {
  color: rgb(255, 71, 71);
}
#bootstrap-override ul {
  margin: 0;
  padding-left: 1.25rem;
}
